<div class ="formdiv">
        <form [formGroup]="carForm" (submit)="addCar()">
                <div>
                    <mat-form-field >
                        <input matInput placeholder="name" formControlName="name">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field >
                        <input matInput placeholder="plateNumber" formControlName="plateNumber">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field >
                        <input matInput placeholder="cc" formControlName="cc">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field >
                        <input matInput placeholder="fuelType" formControlName="fuelType">
                    </mat-form-field>
                </div>
                <div>
                    <button [disabled]="carForm.invalid"  color="primary" mat-flat-button type ="submit">Add</button>
                </div>

        </form>


    <table mat-table [dataSource]="cars" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="plateNumber">
        <th mat-header-cell *matHeaderCellDef> Plate Number </th>
        <td mat-cell *matCellDef="let element"> {{element.plateNumber}} </td>
        </ng-container>

        <ng-container matColumnDef="cc">
        <th mat-header-cell *matHeaderCellDef> CC </th>
        <td mat-cell *matCellDef="let element"> {{element.cc}}</td>
        </ng-container>

        <ng-container matColumnDef="fuelType">
        <th mat-header-cell *matHeaderCellDef> Fuel Type </th>
        <td mat-cell *matCellDef="let element"> {{element.fuelType}} </td>
        </ng-container>

        <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef> Username: </th>
                <td mat-cell *matCellDef="let element">
                    <ng-container *ngIf="element.user">
                            {{element.user.name}}
                    </ng-container>
                    <ng-container *ngIf="!element.user">
                            null
                    </ng-container>

                </td>
        </ng-container>

        <ng-container matColumnDef="photo">
                <th mat-header-cell *matHeaderCellDef> Photo </th>
                <td mat-cell *matCellDef="let element">
                        <ng-container *ngIf="element.user">
                                <img src="{{element.user.photoUrl}}" alt="Somebody" height="42" width="42">
                        </ng-container>
                        <ng-container *ngIf="!element.user">
                                null
                        </ng-container>
                </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
